<section>
    <form fxLayout="column"
     fxLayoutAlign="center center" 
     [formGroup]="loginForm"
     (ngSubmit)="onSubmit()">
    
        <mat-form-field>
            <input type="email"
                   placeholder="enter your email"
                   matInput
                   formControlName="email"
                    >
            <mat-error>Email is invalide</mat-error>        
        </mat-form-field>

        <mat-form-field>
            <input type="password"
                   matInput
                   placeholder=" Enter Your Password"
                   formControlName="password"
                    >
        </mat-form-field>

        <button type="submit"
                mat-raised-button
                color="primary" 
                [disabled]="loginForm.invalid">
            Login
        </button>

    </form>
</section>