<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center " #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
            type="email" 
             placeholder="Your email"
              matInput 
              ngModel
            name="email"
            email 
            required 
            #emailInput="ngModel"
               >
               <mat-error  > Email is invalid </mat-error>
               <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty </mat-error>
               
        </mat-form-field>
        
        <mat-form-field>
            <input type="password"
             matInput 
             placeholder="Your password" 
             ngModel 
             name="password" 
             required 
             #pwInput="ngModel"
             minlength="6">
             <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
             <mat-error>has to be least at 6 characters </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input placeholder="Your birthdate" matInput [matDatepicker]="picker" matSuffix [max]="maxDate">
            <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
<!-- 
        <mat-form-field>
            <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
        </mat-form-field> -->

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Sign up</button>
    </form>
</section>
